
/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 0px ;
	text-align: center;
	cursor: pointer;
	width:100%; 
	height: auto;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 1;
}

.grid figure figcaption {
	/* padding: 2em; */
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}


.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index:2;
	
	box-sizing: border-box;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}



.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	/* letter-spacing: 1px; */
	/* font-size: 68.5%; */
}

/* Individual effects */

/*---------------*/
/***** Ming *****/
/*---------------*/

figure.effect-ming {
	background: #000;
}

figure.effect-ming img {
	opacity: 0.9;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-ming figcaption::before {
	position: absolute;
	/* top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px; */
	top:0; right:0; bottom:0; left:0;
	border: 0px solid #fff;
	/* box-shadow: 0 0 0 30px rgba(255,255,255,0.2); */
	/* content: ''; */
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	/* -webkit-transform: scale3d(1.4,1.4,1);
	transform: scale3d(1.4,1.4,1); */
	z-index: 6;
}

figure.effect-ming h2 {
	/* margin: 20% 0 10px 0; */
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.effect-ming span {
	/* padding: 1em; */
	display:inline-block;
	line-height:300px;
	width:100%; height:300px;
	opacity: 0;
	box-sizing: border-box;
	/* -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(1.5);
	 transform: scale(1.5);  */
}




figure.effect-ming:hover h2 {
	/* -webkit-transform: scale(0.9);
	transform: scale(0.9); */
}

figure.effect-ming:hover figcaption::before,
figure.effect-ming:hover span{
	opacity: 1;
	border:1px solid #0070ff;
	/* -webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1); */
	
}



figure.effect-ming:hover figcaption {
	/* background-color: rgba(58,52,42,0); */
}

figure.effect-ming:hover img {
	opacity: 0.4;
}

@media(max-width:500px){
	.grid figure figcaption{padding:0;}
	figure.effect-ming p{padding:10px; font-size:0.8em; padding-top:20px;}
	
}

