/* CSS File for KOKR */

/* HYUN-212 */
@media (min-width: 1440px) {
    .imf-filters {
        padding: 2rem 2.375rem 2rem 4.5rem;
    }
}

/* HYUN-375 */
.bl-ms-packages-go-button {
	padding: 0.75rem 3.5rem;
}

/* HYUN-442 */
@media (min-width: 1024px) {
	.ch-paragraph .ch-underline, .ch-hero-paragraph .ch-underline {
		line-height: 4.5rem !important;
	}
	.ch-hero-paragraph, .ch-paragraph {
		line-height: 5.5rem;
	}	
}

/* HYUN-446 */
.smco-slide-title {
	font-weight: 600;
}
