@charset "utf-8";

/* 내용관리 */
#ctt {padding:0px; overflow: hidden;}
.ctt_admin {margin:0 5px;text-align:right}
#ctt header h1 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#ctt_con {padding:0}
.ctt_img {text-align:center}