*{
    margin:0; 
    padding:0;
    font-weight: normal;
}
p{
    margin-bottom: 10px;
}
body{
    color:#333;
    font-size: 100%;
    font-family:sans-serif;

}

#gradient
{
  width: 100%;
  height: 100vh;
  padding: 0px;
  margin: 0px;
}
.icon{
    font-size: 200px ;
    
}

.icon img{
    /* width:200px; */
}

#weather_info{
    position: relative;
    width: 100%;
    height: 100vh;
    /* border:1px solid #999; */
    box-sizing: border-box;
    /* padding:10px; */
    background:rgba(247, 197, 156, 0.459);
    color:white;
}
h1{
    background:rgba(156, 218, 247, 0.37);
    border-radius: 100px;
    width: 200px;
    font-size:1.8em;
    text-align: center;
    margin: 0 auto;
    margin-top: -30px;
    padding: 1% 0;
    /* opacity: 0.8; */

}
section{
    /* overflow: hidden; */
    width: 100%;
    color:rgb(255, 255, 255);
}
.icon_box{
    width:200px;
    margin: 0 auto;
    padding-top: 80px;

}
section .w_id{
    margin-top: 40px;
    text-align: center;

}
section>figure, section>.temp{
    float: left;
    width: 45%;
}
.body_top{
    text-align: center; 
}
.body_top>.temp{
    font-size: 3.4em;
}
#time_result{

    text-align: center;
}
.line_1{
    margin-bottom: 7px;
    width:23.3%;
    border: 1px solid rgba(255, 255, 255, 0.527);
}
.line_2{
    float: right;
    width:23.3%;
    border: 1px solid rgba(255, 255, 255, 0.527);
}
.body_center{
    overflow: hidden;
}
.body_center>p{
    font-size:1.7em;
    text-align: center;
}
.body_center{
    display: flex;
    justify-content:space-between;
    margin: 100px 14%;
}
.max_box{
    display: flex;
    
}
.min_box{
    display: flex;
}
.temp_max{
    margin-top: -11px;
    font-size: 2em;
    /* color: #f3283b;
    font-weight: bold; */

}
.temp_min{
    margin-top: -11px;
    font-size: 2em;
    /* color: #4691f6;
    font-weight: bold; */

}
.temp_letter{
    width:40px;
    margin-right: 10px;
    /* padding: 1% 1%; */
    /* font-weight: bold; */
}
.ctr_right{
}
.wind_box, .rain_box, .feels_like_box{
    display: flex;
    width:130px;
}
.wind_img, .rain_img, .feels_like_img{
    height: 20px;
    margin-right: 2px;
}
.wind_letter, .rain_letter, .feels_like_letter{
    margin-right: 10px;
    width:80px;
}
.wind, .rain, .feels_like{
    font-size: 1em;
}


/* 로딩이미지 */
#weather_info .load img{
    position: absolute;
    left: 50%;
    top: 50%;
    display:none;
}
.city{
    /* margin-top:-50px; */
}
