@charset "utf-8";

.lt_team {
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
    padding: 120px 0 100px;
}

.lt_team h2 {
    width: 100%;
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 40px;
    z-index: 9;
    position: relative;
}

.lt_team ul {
    padding: 0
}

.lt_team ul:after {
    display: block;
    visibility: hidden;
    clear: both;
    content: ""
}

.lt_team .team_li {
    position: relative;
    float: left;
    width: 25%;
    /* padding: 10px 5%; */
    text-align: center;
    z-index: 5
}

.lt_team .team_li .lt_img {
    display: block;
    overflow: hidden;
    position: relative;
}

.lt_team .team_li .lt_img img {
    vertical-align: top;
    width: 300px;
    height: auto;
    transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out
}

.lt_team .team_li:hover .lt_img img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.lt_team .lt_wr {
    position: relative;
    padding: 50px 0
}

.lt_team .lt_tit {
    font-size: 1.538em;
    font-weight: 900;
    margin-bottom: 10px;
    display: block
}

.lt_team .lt_detail {
    color: #39c9df;
    line-height: 20px;
    height: 20px;
    overflow: hidden
}

.lt_team i {
    position: absolute;
    top: -30px;
    left: 50%;
    margin-left: -30px;
    width: 60px;
    line-height: 60px;
    background: #fff;
    border-radius: 50px;
    /* color: #39c9df;*/
    color: #ffc952;
    font-size: 25px;
    #aab3c1;
    border-radius: ;
    ;
    vertical-align: top;
    -webkit-box-shadow: 0 -3px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 -3px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 -3px 4px rgba(0, 0, 0, 0.2)
}

.lt_team .empty_li {
    width: 100%;
    padding: 100px 0;
    text-align: center;
    color: #aaa
}

.lt_team .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-right: 1px solid #f1f1f1;
}

.lt_team .bg span {
    float: left;
    display: block;
    width: 100%;
    height: 100%;
    width: 25%;
    border-left: 1px solid #f1f1f1;
}

@media (max-width: 969px) {
    .lt_team {
        padding: 50px 0
    }

    .lt_team h2 {
        font-size: 1.8em;
        margin-bottom: 20px;
    }

}

@media (max-width: 639px) {
    .lt_team .team_li {
        width: 100%
    }

    .lt_team .bg {
        display: none
    }
}